body {
    margin: 0;
    padding: 0;
    font-family: 'Noto-Sans';
    min-width: 520px;
}
.sticky_header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    top: 0;
    left: 0;
}
.sticky_header > div {
    align-content: end;
}
.sticky_header .area_inner {
    font-family: 'Impact';
    position:absolute;
    right:50px;
    left:50px;
    margin 0px 0px 0 calc(80%)
}
.sticky_header .area_inner > h1 {
    margin: 0;
}
.sticky_header .area_hummberger {
    text-align: right;
}
.sticky_header .area_hummberger,
.sticky_header .area_logo {
    width: 128px;
}
.sticky_header .area_hummberger > div {
    background-color: red;
    display: inline-block;
}

#header_title {
    cursor: pointer;
}

.slide {
    width: 100%;
    aspect-ratio: 16/9;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}
.gallery > div {
    min-width: 200px;
    min-height: 200px;
    width: 20vw;
    height: 20vw;
    background-color:blueviolet;

}

#kail_pull {
    background-color: cornflowerblue;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border: none;
    border-radius: 25px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all 0.3s;
}
.arrow_left {
    display: inline-block;
    vertical-align: middle;
    color: white;
    background: currentColor;
    position: relative;
    width: 35px;
    height: 6px;
}
.arrow_left::before {
    content: '';
    width: 25px;
    height: 25px;
    border: 6px solid currentColor;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(-45deg);
    transform-origin: top left;
    position: absolute;
    top: 50%;
    left: -3px;
    box-sizing: border-box;
}

#kail_window {
    position: fixed;
    background-color: cornsilk;
    right: -300px;
    bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    border: black 1px solid;
    transition: all 0.3s;
}
#kail_text {
    resize: none;
    height: 80px;
    width: 200px;
}
.kail_button_area {
    display: flex;
    justify-content: space-between;
}
header{
    position: fixed;
    top:0px;
    left:0px;
    padding:0px 30px;
    width:100%;
    height:60px;
}
.menu_box{
    margin: 0px 0px 0;
    text-align: right;
}
#toggle{
    display: none;
}
.dropdown_menu{
    display: none;
}
#toggle:checked+.dropdown_menu{
    display:block;
}
.dropdown_menu li{
    display: block;
    width: 140px;
    text-align: center;
    background-color: white;
    border: outset 2px;
    cursor: pointer;
}
#menu{
    position:relative;
    height:50px;
    width:50px;
    display:inline-block;
    box-sizing:border-box;
    border: outset rgb(52, 52, 52) 2px;
}

#menu div{
    position:absolute;
    right: 5px;
    height:2px;
    width:36px;
    display:inline-block;
    border-radius:2px;
    box-sizing:border-box;
    background-color:rgb(52, 52, 52);
}
.close div:nth-of-type(1){
    bottom:20px;
    rotate: 45deg;
}
.close div:nth-of-type(2){
    bottom:20px;
    rotate:135deg;
}
.close div:nth-of-type(3){
    bottom:20px;
    rotate:135deg;
}
.open div:nth-of-type(1){
    bottom:34px;
}
.open div:nth-of-type(2){
    bottom:22px;
}
.open div:nth-of-type(3){
    bottom:10px;
}
#menu{
    animation-duration:3s;
    animation-name: slidein;
}
@keyframes slidein {
    from{
        margin-gift:100%;
        width: 300%;
    }
    to{
        margin-left:0%;
        width:100%;
    }
}