body {
    margin: 0;
    padding: 0;
    font-family: 'Noto-Sans';
    
}

.sticky_header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
}
.sticky_header > div {
    align-content: end;
}
.sticky_header .area_inner {
    font-family: 'Impact';
}
.sticky_header .area_inner > h1 {
    margin: 0;
}
.sticky_header .area_hummberger {
    text-align: right;
}
.sticky_header .area_hummberger,
.sticky_header .area_logo {
    width: 128px;
}
.sticky_header .area_hummberger > div {
    background-color: red;
    display: inline-block;
}

#header_title {
    cursor: pointer;
}

.slide {
    width: 100%;
    aspect-ratio: 16/9;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery > div {
    width:calc(25% - 10px);
    text-align: center;
    justify-content: center;
    display: flex;
}

.gallery img{
    max-width:400%;
    min-height:200%;
    object-fit: cover;
    overflow: scroll;
    display: block;
    cursor:pointer;
    border:0px solid #ffffff;
    padding:1px;
    margin:10px auto;
}


.overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.8);
    z-index:1000;
    justify-content:center;
    align-items: center;
}

.overlay img{
    max-width:80%;
    max-height:80%;
    animation: zoomIn 0.5s cubic-bezier(0.33,1,0.68,1)forwards;
    
}
    @keyframes zoomIn {
        0%{
            transform:scale(0);
            opacity: 0;
        }
        100%{
            transform:scale(1);
            opacity: 1;
        }
    }
    
.no-scroll{
    overflow: hidden;
}
#kail_pull {
    background-color: cornflowerblue;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border: none;
    border-radius: 25px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all 0.3s;
}
.arrow_left {
    display: inline-block;
    vertical-align: middle;
    color: white;
    background: currentColor;
    position: relative;
    width: 35px;
    height: 6px;
}
.arrow_left::before {
    content: '';
    width: 25px;
    height: 25px;
    border: 6px solid currentColor;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(-45deg);
    transform-origin: top left;
    position: absolute;
    top: 50%;
    left: -3px;
    box-sizing: border-box;
}

#kail_window {
    position: fixed;
    background-color: cornsilk;
    right: -300px;
    bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    border: black 1px solid;
    transition: all 0.3s;
}
#kail_text {
    resize: none;
    height: 80px;
    width: 200px;
}
.kail_button_area {
    display: flex;
    justify-content: space-between;
}
